body {
    font-family: Arial, Helvetica, sans-serif;
    font: 18;
} 

header footer{
    background-color: darkblue; 
} 

footer {
    text-align: center;
    text-align: bottom;
} 

.myimage{
    box-shadow: 0px; 
    box-shadow: black;
    box-shadow: 2px; 

}